.rmdcaution {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  background: #f5f5f5 url("../images/caution.png") left center/3em no-repeat;
}
.rmdimportant {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  background: #f5f5f5 url("../images/important.png") left center/3em no-repeat;
}
.rmdnote {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  background: #f5f5f5 url("../images/note.png") left center/3em no-repeat;
}
.rmdtip {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  background: #f5f5f5 url("../images/tip.png") left center/3em no-repeat;
}
.rmdwarning {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  background: #f5f5f5 url("../images/warning.png") left center/3em no-repeat;
}
.kable_wrapper {
  border-spacing: 20px 0;
  border-collapse: separate;
  border: none;
  margin: auto;
}
.kable_wrapper > tbody > tr > td {
  vertical-align: top;
}
p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}
