/* Chapter nav ----------------------------------------- */

#book-chapter-nav {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
#book-chapter-prev, #book-chapter-next {
  padding: 0.5rem;
  border: 1px solid #ccc;
}
#book-chapter-prev.empty, #book-chapter-next.empty {
  border: none;
}
#book-chapter-prev a:before {
  content: "« ";
}
#book-chapter-next a:after {
  content: " »";
}

/* Page structure ----------------------------------------------------------

+-----+-----------------+------+--------------+
|     | sidebar-chapter | main | sidebar-book |
+=====+=================+======+==============+
| sml | 12 (collapsed)  | 12   | -            |
| md  | 12 (collapsed)  | 9    | 3            |
| lg  | 3               | 7    | 2            |
+-----+-----------------+------+--------------+

*/

main {margin-top: 1rem;}

@media (max-width: 991.98px) {
  .collapse-lg {
    display: none;
    padding: 1rem;
    border-radius: 0.2rem;
    background: #fafafa;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    box-shadow: 5px 5px 10px rgba(0.1, 0.1, 0.1, 0.5);
    border: 1px solid var(--primary);
  }
  .book-toc {
    column-count: 2;
  }
  .sidebar-book, main {
    padding-left: 1rem;
  }
  .sidebar-book {
    margin-top: 1rem;
  }
}
@media (min-width: 992px) {
  .collapse-lg {
    display: block !important;
  }
}
.collapse-lg.show {
  display: block;
}

@media (min-width: 768px) {
  .sidebar-chapter {
    position: sticky;
    height: calc(100vh - 1rem);
    top: 1rem;
    overflow-y: auto;

    opacity: 80%;
    transition-property: opacity;
    transition-duration: 0.5s;
  }
}

@media (min-width: 992px) {
  .sidebar-book {
    position: sticky;
    height: calc(100vh - 1rem);
    top: 1rem;
    overflow-y: auto;

    opacity: 80%;
    transition-property: opacity;
    transition-duration: 0.5s;
  }
  .sidebar-book h4 {
    font-size: 1.1rem;
  }
}
.sidebar:hover {
  opacity: 100%;
}

/* Sidebar ------------------------------------------------------ */

.sidebar h6 {
  margin-top: 1rem;
  font-size: 0.9rem;
}
.sidebar hr {
  margin: 0 0 0.5rem 0;
}

.sidebar li {
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
  line-height: 1.5;
}

.book-toc .active {
  font-weight: bolder;
}

.book-extra {
  border-top: 1px solid #ccc;
  margin-top: 0.5rem;
  padding-top: 0.5rem;
  font-size: 0.9rem;
}

/* Scrollspy --------------------------------------------- */

nav[data-toggle="toc"] .nav > li > a {
  padding: 0;
  display: block;
}

nav[data-toggle="toc"] .nav > li > a:hover {
  text-decoration: underline;
}

nav[data-toggle="toc"] .nav a.nav-link.active,
nav[data-toggle="toc"] .nav .nav-link.active > li > a {
  background-color: #eee;
}

/* Nav: second level (shown on .active) */
nav[data-toggle="toc"] .nav-link + ul {
  display: none;
}
nav[data-toggle="toc"] .nav-link.active + ul {
  margin-top: 3px;
  display: block;
}

nav[data-toggle="toc"] .nav .nav > li {
  margin-bottom: 0;
}
nav[data-toggle="toc"] .nav .nav > li > a {
  margin-left: 10px;
}
/* Figures -------------------------------------------- */

.figure, .inline-figure {
  width: 100%;
  overflow-x: auto;
}

.figure {
  border-top: 2px solid #eee;
  border-bottom: 2px solid #eee;
  margin: 1.5rem -0.5rem;
  padding: 1.5rem 0 1rem 0;
}

caption, p.caption {
  font-weight: 300;
  text-align: left;
  margin-top: 1rem;
  margin-bottom: 0;
}

/* Headings -------------------------------------------- */

h2 { margin-top: 2rem }
h3 { margin-top: 1.5em; font-size: 1.2rem; }

.header-section-number {
  color: #999;
  font-weight: normal;
}

.dropdown-item .header-section-number {
  position: absolute;
  width: 2rem;
  left: -1rem;
  display: block;
  text-align: right;
}

.anchor {
  font-size: max(0.5em, 1rem);
  margin-left: 0.5rem;
  display: none;
}
h1:hover .anchor,
h2:hover .anchor,
h3:hover .anchor,
h4:hover .anchor,
h5:hover .anchor,
h6:hover .anchor {
  display: inline;
}

/* Tables ---------------------------------------------- */

table.kable_wrapper td {
  vertical-align: top;
}

table {
  overflow-x: auto;
}

/* Footnotes --------------------------------------------- */

.popover {
  max-width: min(100vw, 32rem);
  font-size: 0.9rem;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}
.popover-body {
  padding: 0.75rem;
}
.popover-body p:last-child {
  margin-bottom: 0;
}

a.footnote-ref {
  cursor: pointer;
}

/* Search ---------------------------------------------- */

mark {
  background: linear-gradient(-100deg,
    hsla(48,92%,75%,.3),
    hsla(48,92%,75%,.7) 95%,
    hsla(48,92%,75%,.1)
  )
}

.algolia-autocomplete .aa-hint {
  color: #999;
}
.algolia-autocomplete .aa-dropdown-menu {
  width: min(100%, 20rem);
  background-color: #fff;
  border: 1px solid var(--gray);
  border-radius: 0.2rem;
  margin-top: 2px;

  max-height: 50vh;
  overflow-y: auto;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion {
  cursor: pointer;
  padding: 5px 4px;
  border-bottom: 1px #ddd solid;
  font-size: 0.9rem;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion.aa-cursor {
  background-color: #B2D7FF;
}

/* Code ------------------------------------------------ */

pre {
  overflow: auto;
  word-wrap: normal;
  word-break: normal;
  white-space: pre;
  border: 1px solid #eee;
  padding: 0.5rem;
  margin: 0 -0.5rem 1rem -0.5rem;
  background-image: linear-gradient(160deg,#f8f8f8 0,#f1f1f1 100%);
}

code {
  background-color: #f8f8f8;
}

pre, code {
  border-radius: 0.2rem;
  color: #212529; /* match text colour */
}
code a:any-link {
  color: inherit; /* use colour from syntax highlighting */
  text-decoration: underline;
  text-decoration-color: #ccc;
}

pre .copy {
  position: relative;
  float: right;
}
pre .copy button {
  background-color: #fff;
  font-size: 80%;
  padding: 4px 6px;
  opacity: 50%;
}
pre:hover .copy button {
  opacity: 100%;
}

/* https://github.com/rstudio/distill/blob/master/inst/rmarkdown/templates/distill_article/resources/a11y.theme + https://gist.github.com/hadley/f53b6e92df20994fdabe6562d284728a */
code span.ot {color:#007faa}
code span.at {color:#7d9029}
code span.ss {color:#bb6688}
code span.an {color:#545454;}
code span.fu {color:#4254A7}
code span.st {color:#008000}
code span.cf {color:#007faa;}
code span.op {color:#696969}
code span.er {color:#ff0000;}
code span.bn {color:#a1024a}
code span.al {color:#ff0000;}
code span.va {color:#19177c}
code span.bu {}
code span.ex {}
code span.pp {color:#bc7a00}
code span.in {color:#545454;}
code span.vs {color:#008000}
code span.wa {color:#545454; font-style: italic}
code span.do {color:#ba2121; font-style: italic}
code span.im {}
code span.ch {color:#008000}
code span.dt {color:#aa5d00}
code span.fl {color:#a1024a}
code span.co {color:#545454}
code span.cv {color:#545454; font-style: italic}
code span.cn {color:#d91e18}
code span.sc {color:#008000}
code span.dv {color:#a1024a}
code span.kw {color:#007faa;}

/* Misc typography ---------------------------------------------- */

a {
  overflow-wrap: break-word;
  word-wrap: break-word;
}

blockquote {
  border-left: 0.5rem solid #eee;
  padding-left: 0.5rem;
  margin-left: -0.5rem;
}

body {
  line-height: 1.6;
}

.smallcaps {
  font-variant: small-caps;
}

.rmdnote, .rmdcaution, .rmdimportant, .rmdtip, .rmdwarning {
  margin: 1rem calc(-2px - 0.5em);
  padding: 1rem;
  border: 2px solid #eee;
}
.rmdnote {
  border-color: var(--primary);
}
.rmdimportant {
  border-color: var(--success);
}
.rmdcaution {
  border-color: var(--danger);
}
.rmdwarning {
  border-color: var(--warning);
}
.rmdtip {
  border-color: var(--info);
}

main ul {
 list-style-type: square;
}
main ol, main ul {
  padding-left: 25px;
  margin-bottom: 0;
}
main li {
  margin-bottom: 0.5rem;
}
main ol > li:first-child, main ul > li:first-child {
  margin-top: 0.5rem;
}
