/* Navbar ---------------------------------------------- */

.navbar {
  margin-bottom: 2em;
}

.headroom {
  will-change: transform;
  transition: transform 200ms linear;
}
.headroom--pinned {
  transform: translateY(0%);
}
.headroom--unpinned {
  transform: translateY(-100%);
}

/* Adjust content down by height of navbar */
.sidebar {
  top: 65px;
}
main {
  margin-top: 75px;
}
html, body {
  scroll-padding-top: 75px;
}

/* Chapter nav ----------------------------------------- */

#book-chapter-nav {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
#book-chapter-prev, #book-chapter-next {
  padding: 0.5rem;
  border: 1px solid #ccc;
}
#book-chapter-prev a:before {
  content: "« ";
}
#book-chapter-next a:after {
  content: " »";
}

/* Sidebar --------------------------------------------- */

.sidebar {
  position: sticky;
  height: calc(100vh - 5rem);
  overflow-y: auto;

  opacity: 80%;
  transition-property: opacity;
  transition-duration: 0.5s;
}

.sidebar:hover {
  opacity: 100%;
}

/* Headings -------------------------------------------- */

h2 { margin-top: 3rem }
h3 { margin-top: 2em; font-size: 1.2rem; }

.header-section-number {
  color: #999;
  font-weight: normal;
}

@media (min-width: 576px) {
  h1 .header-section-number,
  h2 .header-section-number,
  h3 .header-section-number,
  h4 .header-section-number {
    position: absolute;
    width: 5rem;
    left: -5rem;
    display: block;
    text-align: right;
  }
}

.anchor {
  font-size: min(0.5em, 1rem);
  margin-left: 0.5rem;
  display: none;
}
h1:hover .anchor,
h2:hover .anchor,
h3:hover .anchor,
h4:hover .anchor,
h5:hover .anchor,
h6:hover .anchor {
  display: inline;
}

/* Tables ---------------------------------------------- */

table.kable_wrapper td {
  vertical-align: top;
}

/* Search ---------------------------------------------- */

mark {
  background: linear-gradient(-100deg,
    hsla(48,92%,75%,.3),
    hsla(48,92%,75%,.7) 95%,
    hsla(48,92%,75%,.1)
  )
}
.algolia-autocomplete {
  width: 100%;
}

.algolia-autocomplete p {
  margin-bottom: 0;
}

.algolia-autocomplete .aa-input, .algolia-autocomplete .aa-hint {
  width: 100%;
}
.algolia-autocomplete .aa-hint {
  color: #999;
}
.algolia-autocomplete .aa-dropdown-menu {
  width: 100%;
  background-color: #fff;
  border: 1px solid #999;
  border-radius: 0.25rem;
  margin-top: 1px;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion {
  cursor: pointer;
  padding: 5px 4px;
  border-bottom: 1px #ddd solid;
  font-size: 0.9rem;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion.aa-cursor {
  background-color: #B2D7FF;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion em {
  font-weight: bold;
  font-style: normal;
}

/* Code ------------------------------------------------ */

pre {
  overflow: auto;
  word-wrap: normal;
  word-break: normal;
  white-space: pre;
  border: 1px solid #eee;
  padding: 0.5em;
  margin: 0 -0.5em 1rem -0.5em;
}

pre, code {
  background-color: #f8f8f8;
  border-radius: 0.2rem;
  color: #212529; /* match text colour */
}
code a:any-link {
  color: inherit; /* use colour from syntax highlighting */
  text-decoration: underline;
  text-decoration-color: #ccc;
}

pre .copy {
  position: relative;
  float: right;
}
pre .copy button {
  background-color: #fff;
  font-size: 80%;
  padding: 4px 6px;
  opacity: 50%;
}
pre:hover .copy button {
  opacity: 100%;
}

/* https://github.com/rstudio/distill/blob/master/inst/rmarkdown/templates/distill_article/resources/a11y.theme + https://gist.github.com/hadley/f53b6e92df20994fdabe6562d284728a */
code span.ot {color:#007faa}
code span.at {color:#7d9029}
code span.ss {color:#bb6688}
code span.an {color:#545454;}
code span.fu {color:#4254A7}
code span.st {color:#008000}
code span.cf {color:#007faa;}
code span.op {color:#696969}
code span.er {color:#ff0000;}
code span.bn {color:#a1024a}
code span.al {color:#ff0000;}
code span.va {color:#19177c}
code span.bu {}
code span.ex {}
code span.pp {color:#bc7a00}
code span.in {color:#545454;}
code span.vs {color:#008000}
code span.wa {color:#545454; font-style: italic}
code span.do {color:#ba2121; font-style: italic}
code span.im {}
code span.ch {color:#008000}
code span.dt {color:#aa5d00}
code span.fl {color:#a1024a}
code span.co {color:#545454}
code span.cv {color:#545454; font-style: italic}
code span.cn {color:#d91e18}
code span.sc {color:#008000}
code span.dv {color:#a1024a}
code span.kw {color:#007faa;}

/* Misc typograph ---------------------------------------------- */

body {
  line-height: 1.6;
}
