<!doctype html>
<html lang="$lang$">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>$pagetitle$</title>

  $for(author-meta)$
  <meta name="author" content="$author-meta$" />
  $endfor$

  <!-- CSS -->
  $for(css)$
  <link rel="stylesheet" href="$css$" />
  $endfor$

  <!-- JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.6/clipboard.min.js" integrity="sha256-inc5kl9MA1hkeYUt+EC3BhlIgyp/2jDIyBLS6k3UxPI=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/fuse.js@6.4.2"></script>
  <script src="https://kit.fontawesome.com/6ecbd6c532.js" crossorigin="anonymous"></script>
  $for(header-includes)$
  $header-includes$
  $endfor$
  <script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/mark.js@8.11.1/dist/mark.min.js"></script>
</head>

<body data-spy="scroll" data-target="#toc">

<div class="container-lg">
<!--bookdown:title:start-->
<!--bookdown:title:end-->

<!--bookdown:toc:start-->
<div class="row">
  <div class="col-sm-12 col-lg-3 sidebar sidebar-book">
    <a class="sr-only sr-only-focusable" href="#content">Skip to main content</a>

    <div class="d-flex align-items-start justify-content-between">
    <h4>
      <a href="index.html" title="$subtitle$">$title$</a>$if(subtitle)$:
      <small class="text-muted">$subtitle$</small>$endif$
    </h4>
    <button class="btn btn-primary d-lg-none ml-2 mt-1" type="button" data-toggle="collapse" data-target="#main-nav" aria-expanded="true" aria-controls="main-nav"><i class="fas fa-bars"></i></button>
    </div>

    <div id="main-nav" class="collapse-lg">
      <form>
        <input id="search" class="form-control" type="search" placeholder="Search" aria-label="Search">
      </form>

      <h6>Table of contents</h6>
      <nav><div id="book-toc"></div></nav>

      <div class="book-extra">
        <p><a id="book-repo" href="#">View book source</a></li></p>
      </div>
    </div>
  </div>

  <main class="col-sm-12 col-md-9 col-lg-7" id="content">
$for(include-before)$
$include-before$
$endfor$
<!--bookdown:toc:end-->
<!--bookdown:body:start-->
$body$
<!--bookdown:body:end-->
$for(include-after)$
$include-after$
$endfor$

  <div id="book-chapter-nav">
    <div id="book-chapter-prev"></div>
    <div id="book-chapter-next"></div>
  </div>

  </main>

  <div class="col-md-3 col-lg-2 d-none d-md-block sidebar sidebar-chapter">
    <h6>On this page</h6>
    <nav id="toc" data-toggle="toc"></nav>

    <div class="book-extra">
      <p><a id="book-edit" href="#">Edit this page</a></p>
    </div>
  </div>

</div>
</div> <!-- .container -->

<footer class="bg-primary text-light mt-5">
  <div class="container"><div class="row">

  <div class="col-12 col-md-6 mt-3">
    <p>"<strong>$title$</strong>$if(subtitle)$: $subtitle$$endif$" was written by $for(author)$$author$$sep$, $endfor$. $if(date)$It waslast built on $date$.$endif$</p>
  </div>

  <div class="col-12 col-md-6 mt-3">
    <p>This website is produced by the <a class="text-light" href="https://bookdown.org">bookdown</a> bs4_book template.</p>
  </div>

</div></div>
</footer>


$if(math)$
<!-- dynamically load mathjax for compatibility with self-contained -->
<script>
  (function () {
    var script = document.createElement("script");
    script.type = "text/javascript";
    var src = "$if(mathjax)$$mathjax$$endif$";
    if (src === "" || src === "true") src = "https://mathjax.rstudio.com/latest/MathJax.js?config=TeX-MML-AM_CHTML";
    if (location.protocol !== "file:")
      if (/^https?:/.test(src))
        src = src.replace(/^https?:/, '');
    script.src = src;
    document.getElementsByTagName("head")[0].appendChild(script);
  })();
</script>
$endif$
</body>

</html>
