<!doctype html>
<html lang="$lang$">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>$pagetitle$</title>

  $for(author-meta)$
  <meta name="author" content="$author-meta$" />
  $endfor$

  <!-- CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  $for(css)$
  <link rel="stylesheet" href="$css$" />
  $endfor$

  <!-- JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.6/clipboard.min.js" integrity="sha256-inc5kl9MA1hkeYUt+EC3BhlIgyp/2jDIyBLS6k3UxPI=" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/6ecbd6c532.js" crossorigin="anonymous"></script>
  $for(header-includes)$
  $header-includes$
  $endfor$
</head>

<body data-spy="scroll" data-target="#toc">

<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <div class="container">
  <a class="navbar-brand" href="index.html">$title$</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a class="nav-link" href="#">Table of contents</a></li>
    </ul>
    <ul class="navbar-nav">
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      </form>
      <li class="nav-item"><a class="nav-link" href="#"><i class="fab fa-github"></i></a></li>
    </ul>
  </div>
  </div>
</nav>

<div class="container">
<!--bookdown:title:start-->
<div class="row">
  $if(title)$
  <div id="index">
  <h1 class="title" data-toc-skip>$title$</h1>
  $if(subtitle)$
  <h2 class="title" data-toc-skip><em>$subtitle$</em></h2>
  $endif$
  $for(author)$
  $if(author.name)$
  <p class="author"><em>$author.name$</em></p>
  $if(author.affiliation)$
  <address class="author_afil">
  $author.affiliation$<br>$endif$
  $if(author.email)$
  <a class="author_email" href="mailto:#">$author.email$</a>
  </address>
  $endif$
  $else$
  <p class="author"><em>$author$</em></p>
  $endif$
  $endfor$
  $if(date)$
  <p class="date"><em>$date$</em></p>
  $endif$
  $if(abstract)$
  <div class="abstract">
  <p class="abstract">$if(abstract-title)$$abstract-title$$else$Abstract$endif$</p>
  $abstract$
  </div>
  $endif$
  </div>
  $endif$
</div>
<!--bookdown:title:end-->

<!--bookdown:toc:start-->
<div class="row">

  <div class="col-3 d-none d-md-block order-last sidebar">
    <a class="sr-only sr-only-focusable" href="#content">Skip to main content</a>
    <nav id="toc" data-toggle="toc">
    </nav>
  </div>

  <main class="col-sm-12 col-md-9 col-lg-8" id="content">
$for(include-before)$
$include-before$
$endfor$
<!--bookdown:toc:end-->
<!--bookdown:body:start-->
$body$
<!--bookdown:body:end-->
$for(include-after)$
$include-after$
$endfor$
  </main>
</div>
</div> <!-- .container -->

<footer class="bg-primary text-light mt-5">
  <div class="container"><div class="row">

  <div class="col-12 col-sm-6 col-lg-3 mt-3">
    <p>
      Written by $for(author)$$author$$sep$, $endfor$<br/>
      $if(date)$Last built on <em>$date$</em>$endif$
    </p>
  </div>
  <div class="col-12 col-sm-6 col-lg-3 mt-3">
  </div>
  <div class="col-12 col-sm-6 col-lg-3 mt-3">
  </div>
  <div class="col-12 col-sm-6 col-lg-3 mt-3">
  </div>
  </div></div>
</footer>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
$if(math)$
<!-- dynamically load mathjax for compatibility with self-contained -->
<script>
  (function () {
    var script = document.createElement("script");
    script.type = "text/javascript";
    var src = "$if(mathjax)$$mathjax$$endif$";
    if (src === "" || src === "true") src = "https://mathjax.rstudio.com/latest/MathJax.js?config=TeX-MML-AM_CHTML";
    if (location.protocol !== "file:")
      if (/^https?:/.test(src))
        src = src.replace(/^https?:/, '');
    script.src = src;
    document.getElementsByTagName("head")[0].appendChild(script);
  })();
</script>
$endif$
</body>

</html>
