# For help debugging build failures open an issue on the RStudio community with the 'github-actions' tag.
# https://community.rstudio.com/new-topic?category=Package%20development&tags=github-actions
on:
  push:
    branches:
      - main
      - master
  pull_request:
    branches:
      - main
      - master

name: Build and deploy book

jobs:
  build:
    runs-on: macOS-latest

    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2

      - name: Install R
        uses: r-lib/actions/setup-r@v1

      - name: Install Pandoc
        uses: r-lib/actions/setup-pandoc@v1
        with:
          pandoc-version: '2.7.3'

      # TODO: Use next tag once this commit is in a release
      - name: Install TinyTeX
        uses: r-lib/actions/setup-tinytex@5f1c134
        env:
          # install full prebuilt version
          TINYTEX_INSTALLER: TinyTeX

      - name: Query dependencies
        run: |
          install.packages('remotes')
          saveRDS(remotes::dev_package_deps(dependencies = TRUE), ".github/depends.Rds", version = 2)
          writeLines(sprintf("R-%i.%i", getRversion()$major, getRversion()$minor), ".github/R-version")
        shell: Rscript {0}

      - name: Cache R packages
        uses: actions/cache@v2
        with:
          path: ${{ env.R_LIBS_USER }}
          key: ${{ runner.os }}-${{ hashFiles('.github/R-version') }}-1-${{ hashFiles('.github/depends.Rds') }}
          restore-keys: ${{ runner.os }}-${{ hashFiles('.github/R-version') }}-1-

      - name: Install system dependencies
        if: runner.os == 'Linux'
        run: |
          while read -r cmd
          do
            eval sudo $cmd
          done < <(Rscript -e 'writeLines(remotes::system_requirements("ubuntu", "18.04"))')

      - name: Install phamtomJS for webshot
        run: webshot::install_phantomjs()
        shell: Rscript {0}

      - name: Install R dependencies for bookdown
        run: |
          remotes::install_deps(dependencies = TRUE)
          remotes::install_cran("rcmdcheck")
          remotes::install_cran("sessioninfo")
        shell: Rscript {0}

      - name: Session info
        run: |
          options(width = 100)
          pkgs <- installed.packages()[, "Package"]
          sessioninfo::session_info(pkgs, include_base = TRUE)
          rmarkdown::find_pandoc()
        shell: Rscript {0}

      - name: Install bookdown package
        run: xfun::install_dir()
        shell: Rscript {0}

      - name: Cache bookdown results
        uses: actions/cache@v2
        with:
          path: inst/examples/_bookdown_files
          key: bookdown-${{ hashFiles('inst/examples/*Rmd') }}
          restore-keys: bookdown-

      - name: Build book
        run: |
          BUILD_ALL="$(git log --format=%B --no-merges -n 1 | grep -E "\[build all\]")"
          cd inst/examples
          "[ ! -z \"$BUILD_ALL\" ] && make all || make gitbook"




